<div class="mt-2 pt-6 pb-[54px]">
  <div class="flex justify-between px-[116px] ">
    <img src="footer/logo-footer.png"/>
    <div class="flex items-center gap-8">
    <app-fbutton [buttonText]="'О компании'"></app-fbutton>
      <app-fbutton [buttonText]="'Контакты'"></app-fbutton>
      <app-fbutton [buttonText]="'Вакансии'"></app-fbutton>
      <app-fbutton [buttonText]="'Статьи'"></app-fbutton>
      <app-fbutton [buttonText]="'Политика обработки персональных данных'"></app-fbutton>
    </div>
    <div class="flex items-center gap-4 ml-20">
     <app-socialbutton [srcImage]="'footer/vkontakte.png'"></app-socialbutton>
      <app-socialbutton [srcImage]="'footer/ok.png'"></app-socialbutton>
      <app-socialbutton [srcImage]="'footer/facebook.png'"></app-socialbutton>
      <app-socialbutton [srcImage]="'footer/instagram.png'"></app-socialbutton>
    </div>
    <div class="flex items-center gap-4">
      <img src="footer/phone.png">
      <a href="tel:88007773333">8 800 777 33 33</a>
    </div>
  </div>
</div>
